In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('default')
%matplotlib inline

In [2]:
data = pd.read_csv('f_p1.csv',parse_dates=True)
data.head()

   Unnamed: 0  index  ch1  ch2  ch3  dopp  UC  UC_count  Manual_Uc_Status
0           0   0.10    0    0  319     0   1         0                 0
1           1   0.50    0    0  333     0   0         0                 0
2           2   0.12    0    0  323     0   0         0                 0
3           3   0.17    0    0  314     0   0         0                 0
4           4   0.21    0    0  310     0   0         0                 0

In [3]:
del data['Unnamed: 0']

In [4]:
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370134 entries, 0 to 370133
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             370134 non-null  float64
 1   ch1               370134 non-null  int64
 2   ch2               370134 non-null  int64
 3   ch3               370134 non-null  int64
 4   dopp              370134 non-null  int64
 5   UC                370134 non-null  int64
 6   UC_count          370134 non-null  int64
 7   Manual_Uc_Status  370134 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 22.6 MB

In [5]:
df = data['UC'].to_frame()
df['SMA30'] = df['UC'].rolling(30).mean()
df.dropna(inplace=True)
df

        UC     SMA30
29       0  2.666667
30       0  2.633333
31       7  2.866667
32       0  2.866667
33       2  2.933333
...     ..       ...
370129   0  0.000000
370130   0  0.000000
370131   0  0.000000
370132   0  0.000000
370133   0  0.000000

[370105 rows x 2 columns]