In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
import matplotlib.mlab as mlab
import matplotlib.gridspec as gridspec
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.reload_library()
from matplotlib import style as style
from matplotlib import cm
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns

In [3]:
data = json.load(open('C:/Users/Acer/Desktop/INDQ/Daily_Data_Update/Sep_23/Far1_hyd/3.json'))

In [4]:
df = data.copy()
del df["raw_data"]["0"]
# data_json["raw_data"]
df = pd.DataFrame(data["raw_data"])

dataf = df.T
data_x = dataf.reset_index()
# data_x = data_x.iloc[:,0]
data_x
file_name = '3'
data_x.to_csv(path_or_buf='C:/Users/Acer/Desktop/INDQ/Daily_Data_Update/Sep_23/Far1_hyd/'+file_name+'.csv')


data = pd.read_csv('C:/Users/Acer/Desktop/INDQ/Daily_Data_Update/Sep_23/Far1_hyd/3.csv')

In [5]:
data.head()

   Unnamed: 0  index  ch1  ch2  ch3  dopp  UC  UC_count  Manual_Uc_Status
0           0   0.10    0    0  0.0     0  -1         0                -1
1           1   0.50    0    0  0.0     0  -1         0                -1
2           2   0.10    0    0  0.0     0  -1         0                -1
3           3   0.15    0    0  0.0     0  -1         0                -1
4           4   0.20    0    0  0.0     0  -1         0                -1