In [4]:
import pandas as pd
import json 
import seaborn as sns
sns.set(color_codes=True)
from pandas_profiling import ProfileReport

In [ ]:
data = pd.read_json("C:/Users/Acer/Desktop/INDQ/Visual/26_Aug_P1.json", 'r')
# test = pd.read_csv("C:/Users/Acer/Desktop/INDQ/Visual/pt2_26th_july(3).csv")

In [ ]:
conda install -c conda-forge pandas-profiling

In [ ]:
import json
with open("C:/Users/Acer/Desktop/INDQ/Visual/26_Aug_P1.json", "r") as read_file:
  data = json.load(read_file)

In [ ]:
data

In [ ]:
data.head()

In [ ]:
sns.distplot(data['ch1'])

In [5]:
data = pd.read_csv('C:/Users/Acer/Desktop/INDQ/Visual/pt2_26th_july(3).csv')

In [6]:
data

        Unnamed: 0     index  ch1  ch2  ch3  dopp  UC  UC_count
0                0     0.000    0    0  0.0     0  -1         0
1                1     0.500    0    0  0.0     0  -1         0
2                2     0.110    0    0  0.0     0  -1         0
3                3     0.160    0    0  0.0     0  -1         0
4                4     0.210    0    0  0.0     0  -1         0
...            ...       ...  ...  ...  ...   ...  ..       ...
391261      391261  1983.620  107    0  0.0     0   0       141
391262      391262  1983.625  107    0  0.0     0   0       141
391263      391263  1983.630  107    0  0.0     0   0       141
391264      391264  1983.635  107    0  0.0     0   0       141
391265      391265  1983.640  107    0  0.0     0   0       141

[391266 rows x 8 columns]

In [7]:
del data['Unnamed: 0']

In [9]:
del data['ch1']

In [10]:
del data['ch2']

In [11]:
del data['ch3']

In [12]:
data

           index  dopp  UC  UC_count
0          0.000     0  -1         0
1          0.500     0  -1         0
2          0.110     0  -1         0
3          0.160     0  -1         0
4          0.210     0  -1         0
...          ...   ...  ..       ...
391261  1983.620     0   0       141
391262  1983.625     0   0       141
391263  1983.630     0   0       141
391264  1983.635     0   0       141
391265  1983.640     0   0       141

[391266 rows x 4 columns]

In [ ]:
profile = ProfileReport(data)

In [ ]:
profile.to_widgets()

In [ ]:
profile.to_notebook_iframe()

In [ ]:
profile.to_file("your_report.html")